body {
  margin: 0;
  background: hsl(0,0%,20%);
  color: hsl(0,0%,70%);
  font-family: "San Francisco", "Ubuntu", sans-serif;
  font-size: 22px;
}

nav {
  max-width: 800px;
  margin: 0 auto;
}

article {
  max-width: 800px;
  margin: 100px auto;
}

a {
  color: hsl(180, 80%, 70%);
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

pre {
  padding: 4px 8px;
}

pre[data-type="bash"] {
  background: black;
  color: hsl(150, 50%, 50%);
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
}
