body {
  margin: 0;
  background: hsl(0,0%,20%);
  color: hsl(0,0%,70%);
  font-family: "San Francisco", "Ubuntu", sans-serif;
  font-size: 18px;
}

article {
  max-width: 800px;
  margin: 100px auto;
}

a {
  color: hsl(180, 80%, 70%);
  white-space: nowrap;
}

p {
  line-height: 1.5;
}

pre[data-type="bash"] {
  background: black;
  color: hsl(150, 50%, 50%);
}
